.greeting-box > h1 {
  font-size: clamp(16px, 5vw, 28px);
}

.hidden {
  display: none !important;
}

.invisible-heading {
  display: none;
}

body {
  margin-top: 48px;
}

.whole-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.todo-header {
  width: 100%;
  display: flex;
  padding: 24px 32px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.greeting-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.greeting {
  font-size: 28px;
}

.nickname {
  color: #5f42f0;
}

.theme-btn {
  width: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(105, 105, 105, 0.2);
  position: relative;
  overflow: hidden;
}

.toggle-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 99px;
}

span.active {
  justify-content: center;
}

.active {
  width: 55%;
  background-color: #5f42f0;
}

span:not(.active).toggle-btn > svg {
  fill: #f1f2f4;
}

.theme-btn svg {
  color: white;
  width: 20px;
  height: 20px;
}

svg.bi-moon-stars-fill {
  width: 18px;
  height: 18px;
}

.todo-main {
  width: 100%;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  gap: 32px;
}

.realtime-status {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.big-element.status {
  background-color: rgba(255, 255, 255, 0.7);
  flex: 1 180px;
  padding: 20px;
  border-radius: 12px;
  transform: translateY(0);
}

.big-element.status:hover {
  transform: translateY(-5%);
  box-shadow: 0 8px 8px rgba(120, 106, 174, 0.25);
}

.status > h3 {
  font-weight: 600;
}

.status > span {
  font-size: 32px;
  font-weight: 700;
}

.todo-utlitity-box {
  width: 100%;
  position: relative;
  z-index: 10;
}

form {
  border-radius: 16px;
}

.form-container {
  width: 100%;
  padding: 24px 20px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.search-box,
.add-todo-box {
  transform: translateY(0);
  transition: transform 0.3s;
}

.search-box:hover,
.big-element.date-filter-box:hover,
.big-element.priority-filter-box:hover,
button.asc-desc-button:hover,
.add-todo-box:hover {
  transform: translateY(-5%);
  box-shadow: 0 0 10px #8478c178;
}

.search-box {
  flex: 1 1 300px;
  height: 100%;
  border-radius: 8px;
}

#search-todo {
  width: 100%;
  border-radius: 8px;
  padding: 10px 30px 10px 10px;
  position: relative;
}

.bi-search {
  position: absolute;
  right: 10px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.sort-filter-box {
  flex: 1 1 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.big-element.date-filter-box {
  flex: 1 1 90px;
  width: 33%;
  border-radius: 8px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.date-filter-button {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.big-element.priority-filter-box {
  flex: 1 1 90px;
  width: 33%;
  border-radius: 8px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.priority-filter-button {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.asc-desc-button {
  flex: 1 1 90px;
  width: 33%;
  border-radius: 8px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-box {
  flex: 1 1 300px;
  border-radius: 8px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f42f0;
}

.add-todo-button {
  width: 100%;
  height: 100%;
  color: white;
}

.date-filter,
.priority-filter {
  position: absolute;
  width: 100%;
  top: 120%;
  left: 0;
  padding: 5px;
  border: 1px solid #e0e5eb;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  z-index: 100;
}

.date-filter > li,
.priority-filter > li {
  background-color: transparent;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  z-index: 100;
}

.date-filter > li:not(:last-child)::after,
.priority-filter > li:not(:last-child)::after {
  content: "";
  width: 90%;
  height: 1px;
  top: 100%;
  left: 5%;
  position: absolute;
}

.date-filter > li:hover,
.priority-filter > li:hover {
  background-color: #5f42f0;
  color: white;
}

.sort-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  gap: 10px;
}

.sort-list-badge {
  display: flex;
  padding: 5px 12px;
  border: 1px solid #e0e5eb;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 99px;
}

.sort-list-badge > p > span {
  color: #5f42f0;
  font-weight: 600;
}

.reset-button {
  color: rgb(255, 50, 50);
  padding: 5px 10px;
  border: 1px solid transparent;
}

.reset-button:hover {
  border: 1px solid rgb(255, 50, 50);
  border-radius: 8px;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .whole-container {
    padding: 24px;
  }
}

@media (max-width: 767px) {
  .whole-container {
    padding: 16px;
  }

  .big-element.date-filter-box,
  .big-element.priority-filter-box,
  .asc-desc-button {
    flex: 1 1 180px;
  }
}
