.hidden {
  display: none;
}

.invisible-heading {
  display: none;
}

.whole-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.todo-header {
  width: 100%;
  display: flex;
  padding: 24px 32px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.greeting-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.greeting {
  font-size: 28px;
}

.nickname {
  color: #5f42f0;
}

.theme-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.theme-btn>svg {
  width: 50%;
  height: 50%;
}

.bright-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.realtime-status {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}


.status {
  background-color: rgba(255, 255, 255, 0.7);
  flex: 1 180px;
  padding: 20px;
  border-radius: 12px;
}

.status>h3 {
  font-weight: 600;
}

.status>span {
  font-size: 32px;
  font-weight: 700;
}

.todo-utlitity-box {
  width: 100%;
}

form.big-element {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.search-box {
  display: flex;
  flex: 1 150px;
  align-items: center;
  position: relative;
}

#search-todo {
  width: 100%;
  position: relative;
  padding: 10px 40px 10px 10px;
}

.bi-search {
  position: absolute;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.search-box>label {
  display: none;
}

.sort-filter-box {
  flex: 2 0 150px;
  display: flex;
  gap: 10px;
  height: 41px;
  word-break: keep-all;
}

.sort-filter-box>div,
.sort-filter-box>button {
  flex-basis: 120px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.7)fff;
  display: flex;
  cursor: pointer;
}

.date-filter-box {
  flex: 1;
  position: relative;
}

.date-filter-button,
.priority-filter-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-filter,
.priority-filter {
  position: absolute;
  width: 100%;
  top: 120%;
  left: 0;
  border: 1px solid #e0e5eb;
  border-radius: 8px;
  z-index: 1;
}

.date-filter>li,
.priority-filter>li {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  position: relative;
  border-radius: 8px;
}

.date-filter>li:not(:last-child)::after,
.priority-filter>li:not(:last-child)::after {
  content: "";
  width: 90%;
  height: 1px;
  top: 100%;
  left: 5%;
  position: absolute;
}

.date-filter>li:hover,
.priority-filter>li:hover {
  background-color: #5f42f0;
  color: white;
}

.priority-filter-box {
  flex: 2;
  position: relative;
}

.asc-desc-button {
  display: flex;
  justify-content: center;
  flex: 1;
  border-radius: 8px;
}

.add-todo-box {
  width: 100%;
  height: 40px;
  flex: 1 200px;
  background-color: #5f42f0;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add-todo-button {
  width: 100%;
  color: white;
  font-weight: 600;
}

.sort-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reset-button {
  font-size: clamp(12px, 2vw, 16px);
  color: red;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .whole-container {
    padding: 24px;
  }
}

@media (max-width: 767px) {
  .whole-container {
    padding: 16px;
  }

  form {
    padding: 10px;
    border-radius: 12px;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    justify-content: space-evenly;
  }

  .search-box {
    width: 100%;
    height: 41px;
    flex: 0;
  }

  .sort-filter-box {
    gap: 20px;
    width: 100%;
    flex: 0;
  }

  .sort-filter-box>div,
  .sort-filter-box>button {
    height: 41px;
    text-align: center;
    border: 1px solid #e0e5eb;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;
  }

  .date-filter-box {
    position: relative;
  }

  .date-filter-button,
  .priority-filter-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priority-filter-box {
    position: relative;
  }

  .asc-desc-button {
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }

  .add-todo-box {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    flex: 0;
  }

  .add-todo-button {
    width: 100%;
    color: white;
    font-weight: 600;
    height: 41px;
  }
}