body {
  background-color: #f6f7f9;
  transition: background-color 0.3s ease;
}

.body-darkmode {
  background-color: #131820;
}

.theme-btn {
  border: 1px solid #e0e5eb;
  transition: border 0.3s ease;
}

.theme-btn-darkmode {
  border: 1px solid #263140;
}

.dark-icon {
  fill: #1b2432;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.dark-icon-darkmode { 
  opacity: 0;
}

.bright-icon {
  fill: #f1f2f4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bright-icon-darkmode {
  opacity: 1;
}

.big-element {
  background-color: #fff;
  border: 1px solid #e0e5eb;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

body .big-element-darkmode {
  background-color: #171d26;
  border: 1px solid #263140;
}

.big-text {
  color: #1b2432;
  transition: color 0.3s ease;
}

.big-text-darkmode {
  color: #f1f2f4;
}

.small-text {
  color: #5c6f8a;
  transition: color 0.3s ease;
}

.small-text-darkmode {
  color: #abb1ba;
}

.bi-search {
  fill: #98a4b3;
  transition:
    fill 0.3s ease,
}

.bi-search-dark {
  fill: #737d8c;
}

.bi-chevron-down {
  fill: #666;
  stroke: #666;
  transition:
    fill 0.3s ease,
    stroke 0.3s ease;
}

.bi-chevron-down-darkmode {
  fill: #f1f2f4;
  stroke: #f1f2f4;
}

.asc-desc-button {
  background-color: #fff;
  color: #1b2432;
  border: 1px solid #e0e5eb;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

body .asc-desc-button-darkmode {
  background-color: #171d26;
  color: #f1f2f4;
  border: 1px solid #263140;
}

.todo-list-box {
  background-color: #00000005;
  transition: background-color 0.3s ease;
}

.todo-list-box-darkmode {
  background-color: #ffffff05;
}

.items-count {
  background-color: #fff;
  color: #1b2432;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.items-count-darkmode {
  background-color: #1f2733;
  color: #f1f2f4;
}

.list-todo::after,
.list-done::after {
  background-color: #1b2432;
  transition: background-color 0.3s ease;
}

.list-todo.list-todo-darkmode::after,
.list-done.list-done-darkmode::after {
  background-color: #abb1ba;
}

.todo-footer {
  border-top: 1px solid #e0e5eb;
  transition: border-top 0.3s ease;
}

.todo-footer-darkmode {
  border-top: 1px solid #263140;
}

.popup {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.popup-darkmode {
  background-color: #171d26;
}

.popup-content-title>input {
  background-color: #fff;
  border: 1px solid #e0e5eb;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

.popup-content-title-darkmode>input {
  background-color: #171d26;
  border: 1px solid #263140;
  color: #fff;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

.popup-description>textarea {
  background-color: #fff;
  border: 1px solid #e0e5eb;
  border-radius: 8px;
}

.popup-description-darkmode>textarea {
  background-color: #171d26;
  border: 1px solid #263140;
  color: #fff;
  border-radius: 8px;
}


.priority-item>label,
.status-item>label {
  background-color: #fff;
  border: 1px solid #e0e5eb;
  border-radius: 40px;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

.priority-item-darkmode>label,
.status-item-darkmode>label {
  background-color: #171d26;
  border: 1px solid #263140;
  border-radius: 40px;
}

.popup-cancel-button {
  background-color: #e0e5eb;
  transition: background-color 0.3s ease;
}

.popup-cancel-button-darkmode {
  background-color: #263140;
}