.todo-delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  z-index: 9990;
}

.todo-delete-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  gap: 24px;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px #8478c178;
  overflow: hidden;
  z-index: 9999;
}

.delete-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.delete-message {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  white-space: pre-line;
}

.delete-button-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.delete-confirm-button,
.delete-cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.delete-cancel-button {
  color: #000;
  background-color: #e0e5eb;
}

.delete-confirm-button:hover,
.delete-cancel-button:hover {
  box-shadow: 0 0 10px #8478c178;
}

.delete-cancel-button:hover {
  background-color: #abb1ba;
}

@media (max-width: 1199px) and (min-width: 768px) {
}

@media (max-width: 767px) {
  .todo-delete-popup {
    max-width: 280px;
  }

  .delete-title {
    font-size: 28px;
  }

  .delete-message {
    font-size: 16px;
  }

  .delete-confirm-button,
  .delete-cancel-button {
    font-size: 16px;
  }
}
