@charset "UTF-8";

.todo-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #e0e5eb;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 400;
  color: #5c6f8a;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .todo-footer {
    max-width: 1199px;
  }
}

@media (max-width: 767px) {
  .todo-footer {
    max-width: 767px;
  }
}
