@charset "UTF-8";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: "Pretendard";
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  z-index: 9990;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 500px;
  height: 572px;
  padding: 25px;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup-main-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.warning {
  color: red;
  font-size: 14px;
  position: relative;
  top: -8px;
}

.popup-content-title > h3,
.popup-description > h3 {
  font-size: 0.9rem;
  font-weight: 500;
}

.popup-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.popup-body label {
  display: none;
}

#popup-todo-title,
#popup-todo-description {
  width: 100%;
}

#popup-todo-title:focus,
#popup-todo-description:focus {
  outline: none;
}

.popup-content-title,
.popup-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#popup-todo-title {
  height: 48px;
  padding: 0 8px;
  position: relative;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
}

#popup-todo-description {
  height: 120px;
  padding: 8px;
  resize: none;
}

.popup-utlities {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 12px;
  justify-content: space-between;
}

.popup-priority legend,
.popup-status legend {
  margin-bottom: 12px;
  font-size: 0.9rem;
}

.priority-buttons,
.status-buttons {
  display: flex;
  gap: 8px;
}

.priority-item > input,
.status-item > input {
  display: none;
}

.priority-item > label,
.status-item > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  background-color: transparent;
}

label[for="high"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #f25a5a;
}

label[for="medium"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #f49d25;
}

label[for="low"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #29a366;
}

label[for="todo"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #8b78f5;
}

label[for="doing"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #3f2ab0;
}

label[for="done"] {
  font-size: 0.85rem;
  font-weight: 500;
  color: #737d8c;
}

#high:checked + label {
  font-weight: 700;
  background-color: #f25a5a;
  color: #4e0000;
  border: none;
}

#medium:checked + label {
  font-weight: 700;
  background-color: #f49d25;
  color: #4a3b00;
  border: none;
}

#low:checked + label {
  font-weight: 700;
  background-color: #29a366;
  color: #00331a;
  border: none;
}

#todo:checked + label {
  font-weight: 700;
  background-color: #8b78f5;
  color: #0a052e;
  border: none;
}

#doing:checked + label {
  font-weight: 700;
  background-color: #3f2ab0;
  color: #f8f7ff;
  border: none;
}

#done:checked + label {
  font-weight: 700;
  background-color: #737d8c;
  color: #eee;
  border: none;
}

.popup-footer {
  display: flex;
  flex-basis: 100%;
  justify-content: right;
  align-items: flex-end;
  gap: 16px;
}

.popup-footer button {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.popup-cancel-button {
  width: 57px;
  height: 42px;
  padding: 12px 16px;
  font-size: 0.9rem;
}

.popup-save-button {
  width: 101px;
  height: 42px;
  padding: 12px 24px;
  font-size: 0.95rem;
  background-color: #5f42f0;
  color: #fff;
}

.popup-cancel-button:hover {
  background-color: #4832c8;
  color: #fff;
}

.popup-save-button:hover {
  background-color: #4832c8;
}

.block {
  display: block;
}

.noscroll {
  overflow: hidden;
}

@media (max-width: 1199px) and (min-width: 768px) {
}

@media (max-width: 767px) and (min-width: 320px) {
  .popup {
    width: 390px;
    height: 592px;
    justify-content: space-between;
  }

  .popup-body {
    justify-content: space-between;
  }

  .popup-utlities {
    flex: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .popup-priority legend,
  .popup-status legend {
    text-align: center;
  }

  .priority-buttons,
  .status-buttons {
    display: flex;
    flex-direction: column;
  }

  .popup-footer {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: auto;
  }

  .popup-cancel-button {
    width: 101px;
    height: 42px;
    padding: 12px 24px;
    font-size: 0.95rem;
  }
}
