@charset "UTF-8";

.todo-container {
  width: 100%;
  max-width: 1200px;
}

.todo-arrange-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.todo-list-box {
  width: 360px;
  min-height: 400px;
  padding: 16px 16px 0 16px;
  background-color: #00000005;
  border-radius: 16px;
}

.list-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1b2432;
}

.list-title > h3 {
  color: #5c6f8a;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 26.4px;
}

.items-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 #0000000d;
  font-size: 0.8rem;
  font-weight: 700;
}

.element-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 16px 0;
  position: relative;
  z-index: 0;
}

.element-list > li {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.todo-element {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-height: 160px;
  padding: 14px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #0000000d;
}

.element-done {
  height: 180px;
  border: 1px solid #e0e5eb;
  background-color: #f6f7f9;
}

.element-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 21px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
}

.high {
  background-color: #fff5f5;
  color: #f25a5a;
}

.medium {
  background-color: #ffebeb;
  color: #f49d25;
}

.low {
  background-color: #f0f9f4;
  color: #29a366;
}

.elements-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.element-title {
  font-size: 1rem;
  color: #1b2432;
}

.element-description {
  font: 0.9rem;
}

.bi-calendar-date path,
.bi-check2-square path {
  fill: #98a4b3;
}

.added-date {
  margin-top: auto;
}

.todo-element > svg {
  width: 14px;
  height: 14px;
}

.done-title {
  text-decoration: line-through;
  color: #5c6f8a;
}

.done-description {
  color: #5c6f8a;
}

.date-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .todo-container {
    width: 100%;
    max-width: 1199px;
  }

  .todo-arrange-box {
    width: 100%;
    max-width: 1199px;
    flex: 1;
    flex-wrap: wrap;
    gap: 32px;
  }

  .todo-list-box {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .todo-container {
    width: 100%;
    max-width: 767px;
  }

  .todo-arrange-box {
    width: 100%;
    max-width: 767px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .todo-list-box {
    width: 100%;
    min-width: 270px;
  }
}
