@charset "UTF-8";

.todo-container {
  width: 100%;
  max-width: 1200px;
}

.todo-arrange-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.todo-arrange-box > .todo-list-box {
  width: 360px;
  min-height: 400px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 30px #fff;
  transition: box-shadow 0.3s;
}

.todo-arrange-box > .todo-list-box:hover {
  box-shadow: 0 0 10px #43336e4d;
}

.list-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.list-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.list-doing::after {
  background-color: #5f42f0;
}

.list-title > h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 26.4px;
}

.items-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 #0000000d;
  font-size: 0.8rem;
  font-weight: 700;
}

.element-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  position: relative;
  z-index: 0;
}

.element-list > li {
  cursor: pointer;
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.3s;
}

.element-list > li:hover {
  transform: translateY(-3%);
  box-shadow: 0 0 10px #8478c178;
}

.element-list > li:hover .element-delete-button {
  opacity: 1;
  background-color: #ffebeb;
  border: none;
}

.element-list > li:hover .bi-x-lg {
  fill: #f25a5a;
  stroke: #f25a5a;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top > button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.todo-element {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-height: 160px;
  padding: 14px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #0000000d;
}

.element-done {
  background-color: #f6f7f9;
}

.element-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 21px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
}

.high {
  background-color: #fff5f5;
  color: #f25a5a;
}

.mid {
  background-color: #ffebeb;
  color: #f49d25;
}

.low {
  background-color: #f0f9f4;
  color: #29a366;
}

.elements-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.element-title {
  font-size: 1rem;
  color: #1b2432;
}

.element-description {
  font: 0.9rem;
}

.bi-calendar-date path,
.bi-check2-square path {
  fill: #98a4b3;
}

.added-date {
  margin-top: auto;
}

.todo-element > svg {
  width: 14px;
  height: 14px;
}

.done-title {
  text-decoration: line-through;
  color: #5c6f8a;
}

.done-description {
  color: #5c6f8a;
}

.date-box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 6px;
}

.date-box > div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.date-box > div:hover svg {
  fill: #5f42f0a6;
  stroke: #5f42f0a6;
}

.date-box > div:hover .bi-calendar-date path,
.date-box > div:hover .bi-check2-square path {
  fill: #5f42f0a6;
}

.date-box > div:hover > span,
.date-box > div:hover > span.done-date {
  color: #5f42f0a6;
  font-weight: bold;
}

.check-box:hover > .done-date {
  color: #5f42f0a6;
  font-weight: bold;
}

.date-box > div > span,
.done-date {
  font-size: 12px;
  color: #aaa;
}

.todo-list-box:hover > .list-title > h3 {
  color: #4d3bac;
}

.todo-list-box:hover > .list-title > span {
  border: 1px solid #5f42f0a6;
  background-color: #5f42f0a6;
  color: white;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .todo-container {
    width: 100%;
    max-width: 1199px;
  }

  .todo-arrange-box {
    width: 100%;
    max-width: 1199px;
    flex: 1;
    flex-wrap: wrap;
    gap: 32px;
  }

  .todo-list-box {
    flex: 1 600px;
  }
}

@media (max-width: 767px) {
  .todo-container {
    width: 100%;
    max-width: 767px;
  }

  .todo-arrange-box {
    width: 100%;
    max-width: 767px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .todo-list-box {
    min-width: 280px;
    flex: 1 400px;
  }
}
